<template>
  <div>
    <div class="header">
      <div class="balance">ksh {{ formatNumber(income - expense) }}.00</div>
      <div class="balance-info">total balance</div>
    </div>
    <div class="container">
      <h6>Summary</h6>

      <div class="card">
        <div class="details">
          <span class="title">Income</span>
          <span class="right"> ksh {{ formatNumber(income) }}.00</span>
        </div>
        <div class="action income">
          <i class="material-icons-outlined button">payment</i>
        </div>
      </div>
      <div class="card">
        <div class="details">
          <span class="title">Expense</span>
          <span class="right"> ksh {{ formatNumber(expense) }}.00</span>
        </div>
        <div class="action expense">
          <i class="material-icons-outlined button">paid</i>
        </div>
      </div>
      <div class="card">
        <div class="details">
          <span class="title">Savings</span>
          <span class="right"> ksh {{ formatNumber(savings) }}.00</span>
        </div>
        <div class="action savings">
          <i class="material-icons-outlined button">savings</i>
        </div>
      </div>
    </div>
    <!-- repot -->
    <div class="container">
      <h6>Reports</h6>

      <div class="card">
        <div class="details">
          <span class="title">Print report</span>
          <!-- <span class="right"> ksh {{ formatNumber(expense) }}.00</span> -->
        </div>
        <div class="action dark" @click="pdfGen">
          <i class="material-icons-outlined button">print</i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed, reactive, ref } from "vue";
import { useHead } from "@vueuse/head";
import { useStore } from "vuex";
import { jsPDF } from "jspdf";

export default defineComponent({
  setup() {
    const siteData = reactive({
      title: `Expense | Dashboard`,
      description: `A summary of my savings balances income and expenditure.`,
    });

    useHead({
      // Can be static or computed
      title: computed(() => siteData.title),
      meta: [
        {
          name: `description`,
          content: computed(() => siteData.description),
        },
      ],
    });
    const store = useStore();

    const income = computed(() => {
      return store.getters.getIncomes;
    });
    const savings = computed(() => {
      return store.getters.getSavings;
    });
    // pdf
    const doc = new jsPDF();
    const pdfGen = () => {
      doc.text("Coming soon!", 10, 10);
      doc.save("my-expenses-summary.pdf");
    };
    const modal = ref(false);
    const seeBalances = () => {
      // Get the modal
      modal.value = true;
    };
    const expense = computed(() => {
      return store.getters.getExpenses;
    });
    function formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
    }
    return {
      formatNumber,
      seeBalances,
      modal,
      pdfGen,
      expense,
      savings,
      income,
    };
  },
});
</script>

<style scoped>
.header {
  height: 200px;
  background-color: #333;
}
.balance {
  font-size: 42px;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.balance-info {
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
h6 {
  font-size: 12px !important;
  padding: 2px;
  columns: #333;
  
}
.card {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 23fr 1fr;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 4px 2px;
}
.container {
  padding-top: 15px;
}
.details {
  padding: 15px;
  font-weight: 600;
}
.button {
  font-size: 22px;
  color: #fff;
  padding: 15px;
}
.title {
  opacity: 0.9;
}
.action {
  float: right;
}
.expense {
  background-color: #ec645f;
}
.savings {
  background-color: rgb(160, 114, 245);
}
.income {
  background-color: #48e677;
}
.dark {
  background-color: #333;
  color: #fff;
}
.dark .button {
  color: #fff;
}
</style>
