<template>
  <div>
    <div class="top">
      <div class="header">
        <div class="balance">
          {{ count }} {{ count > 1 ? "transactions" : "transaction" }}
        </div>
        <div class="balance-info">transaction history</div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s10 m11">
            <select
              class="sort"
              @change="startSorting"
              v-model="selected"
              v-if="sort"
            >
              <option value="" disabled selected>
                Sort by the last: 24 Hours, Week, Month ...
              </option>
              <option value="Today">Last 24 Hours</option>
              <option value="Week">Last Week</option>
              <option value="Month">Last Month</option>
              <option value="3 Month">Last 3 Month</option>
              <option value="All">All</option>
            </select>
            <select
              class="sort"
              @change="genReport"
              v-model="report"
              v-if="!sort"
            >
              <option value="" disabled selected>
                Generate a report for last: 24 Hours, Week, Month ...
              </option>
              <option value="Today">Last 24 Hours</option>
              <option value="Week">Last Week</option>
              <option value="Month">Last Month</option>
              <option value="3 Month">Last 3 Month</option>
              <option value="All">All</option>
            </select>
          </div>
          <div class="col s2 m1">
            <i
              class="material-icons-outlined right link"
              @click="sort = !sort"
              >{{ sort ? "print" : "filter_list" }}</i
            >
          </div>
          <!-- <span class="heading">Transaction history ( {{ count }} )</span> -->
        </div>
      </div>
    </div>

    <!-- heading -->

    <div class="container" style="margin-top: 265px; margin-bottom: 60px">
      <!-- card -->
      <div class="nodata" v-if="transactions.length < 1">
        <i class="material-icons-outlined nothing">category</i>
        <span class="not">no transactions yet</span>
      </div>
      <div v-else>
        <!-- if loading -->
        <div class="nodata" v-if="loading">
          <!-- <i class="material-icons-outlined nothing">loader</i> -->
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

          <!-- <span>loading your transactions</span> -->
        </div>
        <!-- if not loading -->
        <div
          v-else
          class="card"
          v-for="(transaction, index) in transactions"
          :key="transaction.id"
        >
          <div class="content" @click="edit = !edit">
            <span class="title">{{ transaction.title }}</span>

            <span class="right amount" v-if="transaction.type == 'expense'">
              - {{ transaction.amount }}.00</span
            >
            <span class="right amount" v-else>
              + {{ transaction.amount }}.00</span
            >
          </div>
          <div class="action" v-if="!edit">
            <i
              class="material-icons-outlined button"
              :class="transaction.type"
              @click="seeTransaction(transaction)"
              >attach_money</i
            >
          </div>
          <div class="action" v-if="edit">
            <i
              class="material-icons-outlined button delete"
              @click="deleteTransaction({ id: transaction.id, index })"
              >delete</i
            >
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->
    <div class="modal-one" v-if="modal" @click="removeModal">
      <!-- Modal content -->
      <div class="modal-one-content" :class="type">
        <!-- remove modal by button -->
        <div class="row">
          <div class="col s4 m2">
            <div>
              <!-- <i class="material-icons-outlined big">attach_money</i> -->
              <i v-if="account == 'wallet'" class="material-icons-outlined big"
                >account_balance_wallet</i
              >
              <i v-if="account == 'mpesa'" class="material-icons-outlined big"
                >smartphone</i
              >
              <i v-if="account == 'bank'" class="material-icons-outlined big"
                >account_balance</i
              >
            </div>
          </div>
          <div class="col s8 m10">
            <div class="cont">
              <span>
                {{ title }}
              </span>
              <br />
              <span class="cash"> {{ amount }}.00 </span>
              <br />

              <span>
                {{ account }}
              </span>
              <br />

              <span class="date-two">
                {{
                  new Date(date).toLocaleDateString("en-US", {
                    month: "short",
                    day: "numeric",
                    year: "numeric",

                    hour: "numeric",
                    minute: "numeric",
                  })
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed, reactive, ref } from "vue";
import { useHead } from "@vueuse/head";
import { useStore } from "vuex";
export default defineComponent({
  setup() {
    const siteData = reactive({
      title: `Expense | History`,
      description: `Tracking my transactions history step by step.`,
    });

    useHead({
      // Can be static or computed
      title: computed(() => siteData.title),
      meta: [
        {
          name: `description`,
          content: computed(() => siteData.description),
        },
      ],
    });

    const sort = ref(true);
    const edit = ref(false);
    const modal = ref(false);
    const selected = ref("");
    const startSorting = () => {
      var d = new Date();
      if (selected.value === "Today") {
        d.setHours(d.getHours() - 24);
        store.dispatch("sortTransaction", {
          date: d.toISOString(),
        });
      } else if (selected.value === "Week") {
        d.setDate(d.getDate() - 7);
        store.dispatch("sortTransaction", {
          date: d.toISOString(),
        });
        console.log(d.toISOString());
      } else if (selected.value === "Month") {
        d.setDate(d.getDate() - 30);
        store.dispatch("sortTransaction", {
          date: d.toISOString(),
        });
      } else if (selected.value === "3 Month") {
        d.setDate(d.getDate() - 90);
        store.dispatch("sortTransaction", {
          date: d.toISOString(),
        });
      } else {
        store.dispatch("getTransactions");
      }
    };
    const deleteTransaction = (object) => {
      store.dispatch("deleteTransaction", {
        id: object.id,
        index: object.index,
      });
      edit.value = false;
    };

    const type = ref("");
    const account = ref("");
    const amount = ref("");
    const title = ref("");
    const date = ref("");

    const seeTransaction = (object) => {
      type.value = object.type;
      amount.value = object.amount;
      account.value = object.account;
      title.value = object.title;
      date.value = object.date;

      // Get the modal
      modal.value = true;
    };
    const removeModal = () => {
      // Get the modal
      modal.value = false;
    };
    const store = useStore();
    const transactions = computed(() => {
      return store.getters.getTransactions;
    });
    const count = computed(() => {
      return store.getters.getCount;
    });
    const loading = computed(() => {
      return store.getters.getLoading;
    });
    const expense = computed(() => {
      return store.getters.getExpenses;
    });
    function formatNumber(num) {
      return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
    }
    const report = ref("");
    const genReport = () => {
      console.log(report.value);
    };
    return {
      modal,
      expense,
      formatNumber,
      sort,
      removeModal,
      startSorting,
      selected,
      seeTransaction,
      transactions,
      deleteTransaction,
      edit,
      type,
      amount,
      account,
      title,
      date,
      count,
      loading,
      genReport,
      report,
    };
  },
});
</script>
<style scoped>
.header {
  height: 190px;
  background-color: #333;
}
.balance {
  font-size: 42px;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.balance-info {
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.container {
  margin-top: 12px;
}

.top {
  position: fixed;
  width: 100%;
  top: 0;
  height: 255px;

  background-color: rgba(255, 255, 255, 0.959);
  /* background: linear-gradient(to top, #ffffff, #fff); */
  border-bottom: white solid;
}
.link {
  background-color: #333;
  color: white;
  padding: 15px;
  margin-top: -7px;
  /* border-radius: 50%; */
}
.material-icons-outlined {
  font-size: 22px;
}
.col {
  padding: 0px !important;
}
.big {
  font-size: 110px;
  padding: 8px;
}
.cont {
  padding: 15px;
}
.cont span {
  text-transform: capitalize;
}
.cont .cash {
  font-weight: 600;
  font-size: 20px;
}
.cont .date-two {
  color: grey;
  font-size: 12px;
  font-weight: 500;
}
.card {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 23fr 1fr;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 1px,
    rgba(0, 0, 0, 0.25) 0px 4px 6px 2px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sort {
  margin-top: -6px;
}
.content {
  padding: 15px;
}
.action .button {
  padding: 15px;
  color: #ffffff;
  /* color: #333333; */
}
.expense {
  background-color: #ec645f;
}
.income {
  background-color: #48e677;
}
.delete {
  background-color: #333;
}
.title {
  font-weight: 500;
  text-transform: capitalize;
}

.currency {
  right: 0;
  /* font-size: 18px; */
  align-content: flex-end;

  padding-right: 3px;
}
.amount {
  min-width: 50px;
  float: right;
}
.nothing {
  margin-top: 26vh;
  display: flex;
  justify-content: center;
  font-size: 150px;
}
.not {
  display: flex;
  justify-content: center;
}
.date {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
  color: grey;
  float: right;
}

.heading {
  font-weight: 600;
  /* color: grey; */
  text-transform: capitalize;
}

/* modal */
.modal-one {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 220px; /* Location of the box */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal-one Content */
.modal-one-content {
  background-color: #fefefe;
  margin: auto;
  /* padding: 2px; */
  /* border: 1px solid #888; */
  width: 85%;
}
@media only screen and (min-width: 601px) {
  .modal-one-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2px;
    /* border: 1px solid #888; */
    width: 55%;
  }
}
.modal-one .expense {
  border-left: 3px #ec645f solid;
}
.modal-one .income {
  border-left: 3px #48e677 solid;
}

/* loader */
.lds-roller {
  margin: auto;
  margin-top: 26vh;
  display: flex;
  justify-content: center;
  margin-left: -70px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #333;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
