<template>
  <div>
    <div class="header">
      <div class="balance">create transaction</div>
      <div class="balance-info">income | expense</div>
    </div>
    <div class="transactions container">
      <!-- form -->
      <form @submit.prevent="submitTransaction">
        <div class="input-field col s12">
          <select class="type" required v-model="type" @change="activate">
            <option value="" disabled selected>Type</option>
            <option value="income">Income</option>
            <option value="expense">Expense</option>
          </select>
        </div>
        <div v-if="active" class="input-field col s12">
          <select class="type" v-model="account" required @change="activate2">
            <option value="" disabled selected>Account</option>
            <option value="wallet">Wallet</option>
            <option value="mpesa">Mpesa</option>
            <option value="bank">Bank</option>
          </select>
        </div>
        <div v-if="active2" class="input-field col s12">
          <input
            class="type"
            type="text"
            placeholder="Title"
            required
            v-model="title"
          />
        </div>

        <div v-if="active2" class="input-field col s12">
          <input
            class="type"
            required
            type="number"
            placeholder="Amount"
            v-model="amount"
          />
        </div>

        <div v-if="active2">
          <button v-if="loading" class="btn block">loading..</button>
          <button v-else type="submit" class="btn block">submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { defineComponent, computed, reactive, ref } from "vue";
import { useHead } from "@vueuse/head";
import { useStore } from "vuex";
export default defineComponent({
  setup() {
    const siteData = reactive({
      title: `Expense | Transactions`,
      description: `Create a transaction: either an expense or an income.`,
    });

    useHead({
      // Can be static or computed
      title: computed(() => siteData.title),
      meta: [
        {
          name: `description`,
          content: computed(() => siteData.description),
        },
      ],
    });

    const account = ref("");
    const title = ref("");
    const amount = ref();
    const type = ref("");
    const date = ref(new Date().toISOString());

    const store = useStore();
    const submitTransaction = () => {
      store.dispatch("addTransactions", {
        account: account.value,
        title: title.value,
        amount: amount.value,
        type: type.value,
        date: date.value,
      });
    };
    const loading = computed(() => {
      return store.getters.getLoading;
    });
    const active = ref(false);
    const activate = () => {
      active.value = true;
    };
    const active2 = ref(false);
    const activate2 = () => {
      active2.value = true;
    };
    return {
      submitTransaction,
      title,
      amount,
      type,
      account,
      loading,
      active,
      activate,
      active2,
      activate2,
    };
  },
});
</script>
<style scoped>
.header {
  height: 200px;
  background-color: #333;
}
.balance {
  font-size: 42px;
  padding-top: 60px;
  text-align: center;
  color: white;
  font-weight: 600;
}
.balance-info {
  font-size: 14px;
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.transactions {
  margin-top: 15px;
  margin-bottom: 5px;
}
.heading {
  font-weight: 600;
  /* color: grey; */
  text-transform: capitalize;
}
.divider {
  margin-top: 20px;
  margin-bottom: 10px;
}

.block {
  width: 100%;
  margin: 10px 0;
  background-color: #333;
  padding: 5px;
  height: 100%;
}
</style>
