<template>
  <nav class="nav--bottom">
    <router-link to="/" class="nav___link">
      <i class="material-icons-outlined nav___icon">dashboard</i>
      <span class="nav___text">Home</span>
    </router-link>
    <router-link to="/history" class="nav___link">
      <i class="material-icons-outlined nav___icon font-24">history</i>
      <span class="nav___text">History</span>
    </router-link>
    <router-link to="/transactions" class="nav___link">
      <i class="material-icons-outlined nav___icon font-24">money</i>
      <span class="nav___text">Transact</span>
    </router-link>
  </nav>
</template>

<script>
export default {};
</script>

<style scoped></style>
