// general
$black-color: #333;
$white-color: #fff;
$grey-color: #969494;

// theme
$primary-color: #765cd1;
$primary-lighter-color: #937ce6;
// error
$error-color: #eb1d1d;
$error-lighter-color: #ee5050;
// success
$success-color: #2aee82;
$success-lighter-color: #7fe6ad;