@import "colors";
// fonts
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp";

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: $black-color;
}
