@import "colors.scss";
@media only screen and (min-width: 576px) {
  .nav--bottom {
    display: none;
  }
}
// @media only screen and (max-width: 576px) {
.nav--bottom {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 0px rgba(88, 63, 63, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.nav___link {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: $primary-color;
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav___link:hover {
  background-color: #f5f5f5;
}
.nav___link:active {
  background-color: #f5f5f5;
}

.nav___icon {
  font-size: 22px;
  justify-content: center !important;
  text-align: center;
  display: flex;

  flex-direction: column;
}
.router-link-exact-active {
  color: $primary-color;
  background-color: #fff;
}
.router-link-exact-active .nav___icon {
  color: $primary-color;
  background-color: #fff;
}
// }
